<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Google Maps</title>
  </head>
  <body jwcid="$content$">
	<span jwcid="@Script" 
			script="/net/addictivesoftware/framed/scripts/gmap.script"
	 		latitude="ognl:latitude"
		  	longitude="ognl:longitude" 
		  	zoom="ognl:zoom" 
	  		width="600" 
		  	height="400"
		  	controls="true" 
		  	mapid="map" />
    <div id="map" style="width:600px;height:400px;"></div>
  </body>
</html>