<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Google Maps</title>
  </head>
  <body jwcid="$content$">
	<span jwcid="@Script" 
			script="/net/addictivesoftware/framed/scripts/gmap.script"
	 		latitude="ognl:latitude"
		  	longitude="ognl:longitude" 
		  	zoom="ognl:zoom" 
	  		width="ognl:width" 
		  	height="ognl:width"
		  	controls="ognl:controls" 
		  	mapid="ognl:mapid" />
    <div jwcid="@Any" id="ognl:mapid" style="ognl:'width:'+ width + 'px;height:' + height + 'px;'"></div>
  </body>
</html>